<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC8u1uU5WI7Hw8yZqEAYs3HgvqPbVfKQtw</string>
	<key>GCM_SENDER_ID</key>
	<string>340324524357</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mystylal.Navigation</string>
	<key>PROJECT_ID</key>
	<string>mysty-vk</string>
	<key>STORAGE_BUCKET</key>
	<string>mysty-vk.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:340324524357:ios:ec5fff358d03e4f58ade2c</string>
</dict>
</plist>